
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-color:#fff3ff;

}
.navbar .nav-logo .logo-text{
color: #0a1542;
}
.navbar .nav-menu .nav-link{
    color: #53424c;
    padding: 10px 20px;
    font-size: medium;
    border-radius:5%;
    transition: 0.3s ease;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
header .navbar{
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav-menu{
    display: flex;
    gap: 10px;
}
.navbar .nav-menu .nav-link:hover{
    color:rgb(5, 4, 67);
}

